*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
*.#*
.*.swp
.~lock.*
.directory
.DS_[Ss]tore
.idea
.vscode
#*#
desktop.ini
nbproject
[Tt]humbs.db

*.local*.*
*.local
*-local

/tmp/

/lib/*
!/lib/required-libs.txt

